asgiref==3.5.0
backports.zoneinfo==0.2.1
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
decorator==5.1.1
Django==4.0.1
djangorestframework==3.13.1
ffmpy==0.3.0
filelock==3.4.2
idna==3.3
pip==21.3.1
pytz==2021.3
requests==2.27.1
requests-file==1.5.1
savify==2.3.4
setuptools==60.5.0
six==1.16.0
spotipy==2.19.0
sqlparse==0.4.2
tldextract==3.1.2
tzdata==2021.5
urllib3==1.26.8
validators==0.18.2
youtube-dl==2021.12.17